@import '@fortawesome/fontawesome-free/css/all.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background: linear-gradient(1135deg, rgba(20, 20, 20, 0.9), rgba(40, 40, 40, 0.9));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}



#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root::-webkit-scrollbar {
  display: none;
}